<% classes ||= "bg-black bg-opacity-20" %>
<% styles ||= "" %>

<div class="loader">
  <span class="inner1 <%= classes %>" style="<%= styles %>"></span>
  <span class="inner2 <%= classes %>" style="<%= styles %>"></span>
  <span class="inner3 <%= classes %>" style="<%= styles %>"></span>
</div>
