<% size ||= 12 %>
<% classes ||= "" %>

<div class="w-<%= size %> h-<%= size %> rounded bg-gray-200 flex-shrink-0 flex items-center justify-center overflow-hidden <%= classes %>">
  <% if audio && audio.cover.attached? %>
    <%= cl_image_tag(audio.cover.key, :width => 200, :height => 200, :crop => :fill) %>
  <% else %>
    <%= render 'icons/audio', classes: 'stroke-current text-gray-800 h-4 w-4' %>
  <% end %>
</div>
