<% options ||= [] %>

<div class="ios-segmented-control" data-segmented-control-target="container">
  <span class="selection" data-segmented-control-target="selection"></span>
  <% options.each do |option| %>

    <div class="option">
      <input type="radio"
            id="<%= option[:id] %>"
            <% if option[:name] %>
              name="<%= option[:name] %>"
            <% else %>
              name="<%= option[:id] %>"
            <% end %>
            <% if option[:value] %>
              value="<%= option[:value] %>"
            <% end %>
            <%= 'checked' if option[:checked] %>>
      <label for="<%= option[:id] %>"><span><%= option[:title] %></span></label>
    </div>
  <% end %>
</div>