<% back_link ||= :back %>
<% subheader ||= nil %>
<% header_link ||= nil %>

<div class="shadow-sm bg-white top-0 w-full flex-shrink-0 h-14 sticky top-0 z-10">
  <%= render 'shared/container', classes: 'flex items-center px-2' do %>
    <div class="w-full flex items-center justify-between relative py-3 px-2 lg:px-0">

        <%= link_to back_link, class: 'icon-btn transparent' do %>
          <%= render 'icons/arrow_left' %>
        <% end %>

        <div class="flex items-center">
          <%= yield %>
        </div>
    </div>
    <!-- header title (in center) -->
    <%= render 'components/headers/header_title', header: header, subheader: subheader %>
  <% end %>
</div>
