<div data-controller="modal">
  <div class="fixed w-screen bottom-16 md:bottom-4 left-0 -mb-0.5" style="z-index: 999">
    <!-- media player -->
    <%= render 'media_plays/floating_media_player' %>
  </div>
  <div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeInUp fixed pt-8 h-screen w-screen inset-0" style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="h-full w-full max-w-xl relative overflow-scroll bg-white rounded-t-lg mx-auto">
      <%= link_to "#", class: "icon-btn faded top-4 right-4 absolute z-10", data: { action: "click->modal#close" } do %>
        <%= render 'icons/chevron_down', classes: 'h-4 w-4' %>
      <% end %>
      <!-- Modal content -->
      <!-- currently playing -->
      <%= render 'media_plays/modal_media_player' %>
      <!-- media queue -->
      <%= render 'media_plays/up_next' %>
    </div>
  </div>
</div>
