<div class="w-full relative mb-2 hover:bg-black hover:bg-opacity-5 rounded-lg">
  <%= link_to group_member do %>
    <div class="w-full flex items-center justify-between p-1">
      <div class="w-full flex items-center justify-between">
        <div class="flex items-center">
          <!-- avatar -->
          <%= render "components/avatar", group_member: group_member %>
          <div class="ml-2">
            <h4><%= group_member.user.full_name_or_email %></h4>
            <p class="text-xs text-gray-400">Joined group <%= time_ago_in_words(group_member.created_at) %> ago</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if policy(group_member).admin_or_editor? && !policy(group_member).belongs_to_user? %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render 'components/dropdowns/options_dropdown', button_classes: 'icon-btn' do %>
        <%= link_to("Remove all permissions", group_member_path(group_member, group_member: { :role => "member" }), method: :patch, class: "dropdown-link") unless group_member.role == "member" %>
        <%= link_to("Make editor", group_member_path(group_member, group_member: { :role => "editor" }), method: :patch, class: "dropdown-link") unless group_member.role == "editor" %>
        <%= link_to(
                  "Make admin",
                  group_member_path(group_member,
                  group_member: { :role => "admin" }),
                  method: :patch,
                  data: {confirm: "Are you sure you'd like to do this?\n#{group_member.user.full_name_or_email} will have the same permissions as yourself, including deleting this group"}, class: "dropdown-link"
                ) unless group_member.role == "admin" %>
        <%= link_to("Remove from group", group_member_path(group_member), method: :delete, data: {confirm: "Are you sure you'd like to remove #{group_member.user.full_name_or_email} from the group"}, class: "dropdown-link-danger") %>
      <% end %>
    </div>
  <% end %>
</div>
