<div class="w-full relative mb-2 hover:bg-black hover:bg-opacity-5 rounded-lg">
  <%= link_to group_member do %>
    <div class="w-full flex items-center justify-between p-1">
      <div class="w-full flex items-center justify-between">
        <div class="flex items-center">
          <!-- avatar -->
          <%= render "components/avatar", user: group_member.user %>
          <div class="ml-2">
            <h4><%= group_member.user.full_name_or_email %></h4>
            <p class="text-xs text-gray-400">Joined group <%= time_ago_in_words(group_member.created_at) %> ago</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if policy(group_member).admin_or_editor? && !policy(group_member).belongs_to_user? %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <div data-controller="dropdown" class="relative">
        <button type="button" class="p-1 px-2 rounded flex items-center bg-black bg-opacity-5 hover:bg-black hover:bg-opacity-10" data-action="dropdown#toggle click@window->dropdown#hide">
          <h4 class="text-xs"><%= group_member.role.capitalize %></h4>
          <%= render 'icons/select_chevron', classes: "stroke-current text-gray-900 ml-2 h-2 w-2" %>
        </button>

        <div
          data-dropdown-target="menu"
          class="transition transform origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
          data-transition-enter-from="opacity-0 scale-95"
          data-transition-enter-to="opacity-100 scale-100"
          data-transition-leave-from="opacity-100 scale-100"
          data-transition-leave-to="opacity-0 scale-95"
        >
          <%= link_to("Remove all permissions", group_member_path(group_member, group_member: { :role => "member" }), method: :patch, class: "dropdown-link") unless group_member.role == "member" %>
          <%= link_to("Make editor", group_member_path(group_member, group_member: { :role => "editor" }), method: :patch, class: "dropdown-link") unless group_member.role == "editor" %>
          <%= link_to(
                    "Make admin",
                    group_member_path(group_member,
                    group_member: { :role => "admin" }),
                    method: :patch,
                    data: {confirm: "Are you sure you'd like to do this?\n#{group_member.user.full_name_or_email} will have the same permissions as yourself, including deleting this group"}, class: "dropdown-link"
                  ) unless group_member.role == "admin" %>
          <%= link_to("Remove from group", group_member_path(group_member), method: :delete, data: {confirm: "Are you sure you'd like to remove #{group_member.user.full_name_or_email} from the group"}, class: "dropdown-link-danger") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
