<%= render "components/headers/header", header: 'Edit avatar', subheader: @group_member.user.full_name, back_link: edit_group_member_path(@group_member) %>

<%= render 'shared/container', classes: 'p-4' do %>
  <%= simple_form_for(@group_member) do |f| %>
    <%= render 'shared/form_errors', form: f %>

    <div class="form-inputs">
      <div class="form-group">
        <%= f.label :avatar %>
        <%= render 'components/forms/image_upload', attachment: @group_member.avatar do %>
          <%= f.file_field :avatar,
                direct_upload: true,
                required: true,
                accept:"image/png, image/jpeg, image/gif",
                data: { controller: 'uploader', uploader_height_aspect_value: 1, uploader_width_aspect_value: 1, uploader_max_res_value: 500 } %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update avatar", class: "w-full" %>
    </div>
  <% end %>
<% end %>
