<%= render "components/headers/header", header: "All members", subheader: @group.name, back_link: group_path(@group) do %>
  <% if policy(@group).update? %>
    <%= link_to new_group_group_member_path(@group), class: 'icon-btn' do %>
      <%= render 'icons/add_user', classes:"text-gray-900 stroke-current" %>
    <% end %>
  <% end %>
<% end %>

<%= render "shared/container", classes: "p-4" do %>
  <%= render('components/filters/search_filter', container_id:'course_members', placeholder:'Search users') do %>
    <% @group_members.each_with_index do |member, index| %>
      <div class="filter-item" data-filter-text="<%= "#{member.user.full_name} #{member.user.display_name} #{member.user.email}" %>" style="position: relative; z-index: <%= 500 - index %>"> <!-- in order to show dropdown above items below -->
        <%= render "list_item", group_member: member %>
      </div>
    <% end %>
  <% end %>
<% end %>
