<%= render "components/headers/header", header: "Invite members", subheader: @group.name, back_link: group_group_members_path(@group) %>

<%= render "shared/container", classes: "p-4" do %>
  <%= simple_form_for [@group, @group_member] do |f| %>
    <%= f.label :email %>
    <div class="flex w-full">
      <div class="flex-grow">
        <%= f.input :email, input_html: {class: "rounded-r-none"}, label: false, autofocus: true, required: true, placeholder: example_email %>
      </div>
      <div class="flex-shrink-0">
        <%= f.input :role, collection: GroupMember.roles.keys, input_html: {class: "rounded-l-none border-l-0"}, label: false, include_blank: false, include_hidden: false %>
      </div>
    </div>



    <div class="form-actions">
      <%= f.button :submit, "Send invite", class: "w-full" %>
    </div>
  <% end %>
<% end %>

