<% if policy(@group_member).update? %>
  <%= render "components/headers/header", header: @group_member.user.full_name_or_email, subheader: "Profile", hide_back_link: @group_member.user == current_user, back_link: @back_link do %>
    <div data-controller="dropdown" class="relative">
      <button type="button" class="icon-btn" data-action="dropdown#toggle click@window->dropdown#hide">
        <%= render 'icons/options', classes: "h-5 w-5" %>
      </button>

      <div
        data-dropdown-target="menu"
        class="transition transform origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
        <% if @current_user_group_member == @group_member %>
          <%= link_to "Update profile", edit_group_member_path(@group_member), class: "dropdown-link" %>
          <%= link_to "Leave group", group_member_path(@group_member), method: :delete, data: {confirm: "Are you sure you'd like to leave the group"}, class: "dropdown-link-danger" %>
        <% else %>
          <%= link_to("Remove all permissions", group_member_path(@group_member, group_member: { :role => "member" }), method: :patch, class: "dropdown-link") unless @group_member.role == "member" %>
          <%= link_to("Make editor", group_member_path(@group_member, group_member: { :role => "editor" }), method: :patch, class: "dropdown-link") unless @group_member.role == "editor" %>
          <%= link_to("Make admin", group_member_path(@group_member, group_member: { :role => "admin" }), method: :patch, data: {confirm: "Are you sure you'd like to do this? (#{@group_member.user.full_name_or_email} will have the same permissions as yourself)"}, class: "dropdown-link") unless @group_member.role == "admin" %>
          <%= link_to("Remove from group", group_member_path(@group_member), method: :delete, data: {confirm: "Are you sure you'd like to remove #{@group_member.user.full_name_or_email} from the group"}, class: "dropdown-link-danger") %>
        <% end %>

      </div>
    </div>
  <% end %>
<% else %>
  <%= render "components/headers/header", header: @group_member.user.full_name_or_email, subheader: "Profile" %>
<% end %>

<%= render "shared/container", classes: "p-4 flex flex-col items-center" do %>
  <div class="mb-2">
    <%= render "components/avatar", group_member: @group_member, size: "24" %>
  </div>
  <h2 class="text-xl tracking-tight font-medium text-center"><%= @group_member.user.full_name_or_email %></h2>
  <p class="text-xs text-gray-400 text-center">Joined group <%= time_ago_in_words(@group_member.created_at) %> ago</p>

  <div class="mt-6 w-full">
    <div class="pb-4">
      <%= render "components/headers/section_header", title: "Courses", icon:"library" do %>
        <% if policy(@group_member).create? %>
          <div data-controller="modal">
            <%= link_to new_group_member_course_member_path(@group_member), class: "icon-btn faded", data: { action: "click->modal#open" } do %>
              <%= render 'icons/plus_circle' %>
            <% end %>

            <%= render 'components/modal_container', header: "Add to courses", subheader: @group_member.user.full_name_or_email do %>
              <div class="h-96">
                <%= render 'group_members/course_members/form', group_member: @group_member %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% @group_member.course_members.each_with_index do |member, index| %>
        <% z_index = 500 - index %>
        <div class="relative" style="z-index: <%= z_index %>">
          <%= render 'courses/list_item', course: member.course, course_member: member %>
        </div>
      <% end %>
      <% if @group_member.course_members.empty? && policy(@group_member).create? %>
        <div class="p-4 rounded-xl bg-white w-full border-dashed border flex flex-col items-center">
          <h4 class="tracking-tight text-center">Add to courses</h4>
          <p class="text-xs text-gray-400 mb-2 text-center">Give <%= @group_member.user.full_name_or_email %> access to courses</p>
          <%= link_to new_group_member_course_member_path(@group_member), class: 'button' do %>
            <%= render "icons/library", classes: "stroke-current text-white mr-2" %>
            Add to courses
          <% end %>
        </div>
      <% end %>
    </div>
    <div>
      <%= render "components/headers/section_header", title: "Quick links", icon:"zap" do %>
        <% if policy(@group_member).links? %>
          <%= link_to new_group_member_link_path(@group_member), class: "icon-btn faded" do %>
            <%= render 'icons/plus_circle' %>
          <% end %>
        <% end %>
      <% end %>
      <% @group_member.links.each_with_index do |link, index| %>
        <% z_index = 500 - index %>
        <div class="pb-2 w-full relative" style="z-index: <%= z_index %>">
          <% editable = (link.linkable.class == GroupMember && policy(link.linkable).links?) %>
          <%= render "links/link", link: link, editable: editable %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
