<%= simple_form_for [course, course.course_members.new] do |f| %>
  <%= f.input :id, :as => :check_boxes, label: "" do %>
    <%= render('components/filters/search_filter', placeholder:'Search group members') do %>
      <%= f.collection_check_boxes :id, (course.group.group_members - course.group_members), :id, :name do |builder| %>
        <%= content_tag(:div, :class => "filter-item", data: {filter_text: "#{builder.object.user.full_name} #{builder.object.user.display_name} #{builder.object.user.email}"}) do %>
          <%= builder.check_box(class:"group-member-checkbox") %>
          <%= builder.label {|label| render("group_members/checkbox_item", group_member: builder.object ) } %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, "Add participants", class: 'w-full' %>
  </div>
<% end %>
