<%= simple_form_for [course, course.course_members.new] do |f| %>
  <%= f.input :id, :as => :check_boxes, label: false do %>
    <%= f.collection_check_boxes :id, (course.group.group_members - course.group_members), :id, :name do |builder| %>
      <%= content_tag(:div, :class => "any") { builder.check_box + builder.label } %>
    <% end %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, "Add participants", class: 'w-full' %>
  </div>
<% end %>
