<% group_member = course_member.group_member %>

<div class="w-full relative mb-2 hover:bg-gray-900 hover:bg-opacity-5 rounded-lg">
  <%= link_to group_member do %>
    <div class="w-full flex items-center justify-between p-1">
      <div class="w-full flex items-center justify-between">
        <div class="flex items-center">
          <!-- avatar -->
          <%= render "components/avatar", group_member: group_member %>
          <div class="ml-2">
            <h4><%= group_member.user.full_name_or_email %></h4>
            <p class="text-xs text-gray-400">Joined course <%= time_ago_in_words(course_member.created_at) %> ago</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if policy(group_member).admin_or_editor? && !policy(group_member).belongs_to_user? %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render 'components/dropdowns/options_dropdown', button_classes: 'icon-btn faded' do %>
        <%= link_to("Remove from course", course_member_path(course_member), method: :delete, data: {confirm: "Are you sure you'd like to remove #{group_member.user.full_name_or_email} from this course"}, class: "dropdown-link-danger") %>
      <% end %>
    </div>
  <% end %>
</div>
