<%= render "components/headers/header", header: "Course participants", subheader: @course.title, back_link: course_path(@course) do %>
  <% if policy(@course).update? %>
    <div data-controller="lightbox">
      <%= link_to '#', class: 'icon-btn', data: { action: "click->lightbox#open" } do %>
        <%= render 'icons/add_user', classes:"text-gray-900 stroke-current" %>
      <% end %>

      <%= render 'components/lightbox/modal_container', title: "Add participants", subtitle: "To #{@course.title}", no_padding: true do %>
        <%= render 'form', course: @course %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render "shared/container", classes: "p-4" do %>
  <% if policy(@course).update? && @course.course_members.count < 10 %>
    <div class="bg-primary-50 p-4 rounded-md sm:flex sm:items-center sm:justify-between mb-4">
      <div class="mb-4 sm:mb-0">
        <h4 class="font-medium">Add participants to course</h4>
        <p class="text-xs text-gray-400">Send an invitation for more participants to join <%= @course.title %></p>
      </div>
      <%= link_to new_course_course_member_path(@course), class: 'button sm:w-auto w-full flex-shrink-0' do %>
        <%= render 'icons/email', classes:"mr-2" %>
        Invite participants
      <% end %>
    </div>
  <% end %>

  <%= render('components/filters/search_filter', container_id:'course_members', placeholder:'Search users') do %>
    <% @course_members.each_with_index do |member, index| %>
      <div class="filter-item" data-filter-text="<%= "#{member.user.full_name} #{member.user.display_name} #{member.user.email}" %>" style="position: relative; z-index: <%= 500 - index %>"> <!-- in order to show dropdown above items below -->
        <%= render "list_item", course_member: member %>
      </div>
    <% end %>
  <% end %>
  <% if @course_members.empty? %>
    <p class="text-xs text-gray-400 text-center my-8">There are no invites 👀</p>
  <% end %>
<% end %>
