<%= simple_form_for [section, video], data: { controller: 'segmented-control' } do |f| %>
  <div class="mb-4 max-w-lg">
    <%= render 'videos/segmented_control',
                  options: [
                        {title: "Youtube or Vimeo", name:'video[remote_video]', value:'true', id: 'url', checked: video.url.present? || video.new_record?},
                        {title: "Upload your own", name:'video[remote_video]', value:'false', id: 'video-upload', checked: video.url.present?},
                    ] %>
  </div>

  <div id="video-upload-toggle-content" class="segmented-option-content">
    <%= f.file_field :file,
            direct_upload: true,
            accept:"video/quicktime, video/mp4",
            data: { controller: 'uploader', uploader_filetypes_value: ['video/quicktime', 'video/mp4'], uploader_max_value: '100MB' } %>
  </div>

  <div id="url-toggle-content" class="segmented-option-content">
    <%= f.input :url, label: false, placeholder: "https://www.youtube.com/watch?v=iaWiYtqL-4Y", hint: "Place youtube or vimeo links here" %>
  </div>

  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :tag_list, label: 'Tags', input_html: { data: { controller: "multi-select" } } %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
