<%= render "components/headers/header", header: "Select a group", hide_back_link: true do %>
  <div data-controller="dropdown" class="relative h-9">
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">
      <%= render "components/avatar", user: current_user, size: 9 %>
    </button>

    <div
      data-dropdown-target="menu"
      class="transition transform origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
    >
      <% if @selected_group %>
        <% selected_group_member = GroupMember.find_by(group: @selected_group, user: current_user) %>
        <%= link_to("Profile", group_member_path(selected_group_member), class: "dropdown-link") if selected_group_member %>
      <% end %>
      <%= link_to "Update profile", edit_user_path(current_user), class: "dropdown-link" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-link-danger" %>
    </div>
  </div>
<% end %>

<%= render 'shared/container', classes: 'p-4' do %>
  <%= render "components/headers/section_header", title: "Your groups", icon:"members" %>
  <% if @groups.any? %>
    <%= render :partial => "group", :collection => @groups %>
    <div class="p-1">
      <%= link_to new_group_path, class: 'button-list-add' do %>
        <%= render "icons/plus", classes: "stroke-current mr-2 h-3 w-3" %>
        Create a group
      <% end %>
    </div>
  <% else %>
    <div class="p-4 rounded-xl bg-white w-full border-dashed border flex flex-col items-center">
      <h4 class="tracking-tight text-center">Create a group to get started</h4>
      <p class="text-xs text-gray-400 mb-2 text-center">Once you've created a group, you can build courses and start attracting your community</p>
      <%= link_to new_group_path, class: 'button' do %>
        <%= render "icons/members", classes: "stroke-current text-white mr-2" %>
        Add a group
      <% end %>
    </div>
  <% end %>
<% end %>
