<%= render "components/headers/header", header: @group.name, subheader: "Group", hide_back_link: true do %>
  <%= link_to group_group_members_path(@group), class: 'icon-btn' do %>
    <%= render 'icons/members', classes:"text-gray-900 stroke-current" %>
  <% end %>
  <div data-controller="dropdown" class="relative">
    <button type="button" class="icon-btn" data-action="dropdown#toggle click@window->dropdown#hide">
      <%= render 'icons/options', classes: "h-5 w-5" %>
    </button>

    <div
      data-dropdown-target="menu"
      class="transition transform origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
    >
      <% if policy(@group).update? %>
        <%= link_to("Group settings", settings_group_path(@group), class: "dropdown-link") %>
      <% end %>
      <%= link_to("Leave this group", group_member_path(@current_user_group_member), method: :delete, data: {confirm: "Are you sure you'd like to remove yourself from this group"}, class: "dropdown-link-danger") %>
    </div>
  </div>
<% end %>

<%= render "shared/container", classes: "p-4" do %>
  <%= render "components/headers/section_header", title: "Your courses", icon:"library" do %>
    <% if policy(@current_user_group_member).admin_or_editor? %>
      <%= link_to new_group_course_path(@group), class: "icon-btn faded" do %>
        <%= render 'icons/plus_circle' %>
      <% end %>
    <% end %>
  <% end %>
  <%= render :partial => "courses/course", :collection => @courses %>
<% end %>
