<% content_for :header_left do %>
  <%= link_to groups_path, class: "md:hidden h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
    <%= render 'groups/avatar', group: Current.group, size: 9 %>
  <% end %>
<% end %>

<%= render "components/headers/header", header: @group.name, subheader: "Group", hide_back_link: true do %>
  <%= link_to group_group_members_path(@group), class: 'icon-btn' do %>
    <%= render 'icons/members' %>
  <% end %>
  <%= render 'components/dropdowns/options_dropdown' do %>
    <% if policy(@group).update? %>
      <%= link_to("Group settings", settings_group_path(@group), class: "dropdown-link") %>
    <% end %>
    <%= link_to("Leave this group", group_member_path(Current.group_member), method: :delete, data: {confirm: "Are you sure you'd like to remove yourself from this group"}, class: "dropdown-link-danger") %>
  <% end %>
<% end %>

<%= render "shared/container", classes: "p-4" do %>
  <%= render "components/headers/section_header", title: "Your courses", icon:"library" do %>
    <div class="flex items-center">
      <%= link_to reorder_course_members_path, class: "icon-btn" do %>
          <%= render 'icons/reorder' %>
        <% end %>
      <% if policy(Current.group_member).admin_or_editor? %>
        <%= link_to new_group_course_path(@group), class: "icon-btn" do %>
          <%= render 'icons/plus_circle' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @courses.any? %>
    <%= render :partial => "courses/course", :collection => @courses %>
  <% elsif policy(@group.courses.new).create? %>
    <div class="p-4 rounded-xl bg-white w-full border-dashed border flex flex-col items-center">
      <h4 class="tracking-tight text-center">Create your first course</h4>
      <p class="text-xs text-gray-400 mb-2 text-center">Your people need you! It's time to start sharing your knowledge so others can improve their life.</p>
      <%= link_to new_group_course_path(@group), class: 'button' do %>
        <%= render "icons/library", classes: "stroke-current text-white mr-2" %>
        Create a course
      <% end %>
    </div>
  <% else %>
    <h4 class="text-sm text-gray-400 text-center">You don't have access to any courses yet 👀</h4>
  <% end %>
<% end %>
