<%= render "components/headers/header", header: @group.name, subheader: "Group", back_link: groups_path do %>
  <% if policy(@group).update? %>
    <%= link_to settings_group_path(@group), class: 'icon-btn' do %>
      <%= render 'icons/settings', classes:"text-gray-900 stroke-current" %>
    <% end %>
  <% end %>
  <%= link_to group_group_members_path(@group), class: 'icon-btn' do %>
    <%= render 'icons/members', classes:"text-gray-900 stroke-current" %>
  <% end %>
<% end %>

<%= render "shared/container", classes: "p-4" do %>
  <% if @group.content %>
    <p class="text-green-500 text-xs p-3 text-center">This group does have content</p>
  <% else %>
    <p class="text-red-500 text-xs p-3 text-center">This group has no content</p>
  <% end %>
<% end %>
