<%= simple_form_for [section, page] do |f| %>
  <%= f.label :cover, label: 'Cover image' %>
  <%= f.file_field :cover,
          direct_upload: true,
          required: true,
          accept:"image/png, image/jpeg, image/gif",
          data: { controller: 'uploader' } %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :tag_list, label: 'Tags' %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
