<div class="hidden md:flex bg-primary-600 justify-between items-center p-4 sm:px-6" style="z-index: 999">
  <%= link_to groups_path, class: "group flex items-center transition duration-300 ease-in-out p-1 pr-4 rounded-md hover:bg-white bg-opacity-10 hover:bg-opacity-5 cursor-pointer" do %>
    <div class="relative">
      <%= render 'groups/avatar', group: Current.group, size: 10 %>
      <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 border border-white rounded-md transition-opacity duration-300">
        <%= render 'icons/switch', classes:"stroke-current text-white h-4 w-4 transform scale-0 group-hover:scale-100 transition-transform duration-300" %>
      </div>
    </div>
    <div class="ml-3">
      <h4 class="tracking-tight text-white font-semibold hidden sm:block"><%= Current.group.name %></h4>
    </div>
  <% end %>
  <div class="flex items-center" style="z-index: 1000">
    <% if user_signed_in? %>
      <%= link_to group_path(Current.group), class:'opacity-50 hover:opacity-100 transition duration-300 ease-in-out flex items-center text-white mr-4 inline-block p-2 px-3 rounded-md hover:bg-white bg-opacity-5 hover:bg-opacity-5 cursor-pointer tracking-tight' do %>
        <%= render "icons/library", classes: 'w-5 h-5 stroke-current text-white mr-2' %>
        Courses
      <% end %>
      <div data-controller="dropdown" class="relative h-10">
        <button type="button" data-dropdown-target="toggle">
          <%= render "components/avatar", user: current_user, size: 10 %>
        </button>

        <%= render 'components/dropdowns/dropdown_options_container' do %>
          <% if Current.group %>
            <% selected_group_member = GroupMember.find_by(group: Current.group, user: current_user) %>
            <%= link_to("Profile", group_member_path(selected_group_member), class: "dropdown-link") if selected_group_member %>
            <%= link_to("Update profile", edit_group_member_path(selected_group_member), class: "dropdown-link" )if selected_group_member %>
          <% end %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-link-danger" %>
        <% end %>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "text-white text-sm bg-black bg-opacity-20 hover:bg-opacity-30 p-2 rounded-md px-4 font-medium" %>
      <%= link_to "Signup", new_user_registration_path, class: "text-primary-700 text-sm bg-white p-2 rounded-md px-4 font-medium ml-2" %>
    <% end %>
  </div>
</div>
