<title>Akademy Project - Connection based learning</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= favicon_link_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0">
<!-- filepond -->
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
<!-- light gallery -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.2.0-beta.4/css/lightgallery-bundle.min.css" integrity="sha512-uQ9QwIpsBg69ivqexGlFIj47EzEM+ySCTV6oot09ZI7bvsb+RahrkEXSBOTvUXioup7sEFa24h8haLcph+1oDg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
<%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
