<% if user_signed_in? %>
  <div class="md:hidden w-full bg-white border-t flex items-center justify-center p-2 pb-3 fixed bottom-0 left-0" style="z-index: 999">
    <% if currently_playing %>
      <div class="mx-2">
        <%= render 'media_plays/mobile_navbar_elem' %>
      </div>
    <% end %>
    <%= link_to Current.group, class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/library", classes: "h-7 w-7" %>
    <% end %>
    <%= link_to GroupMember.find_by(user: current_user, group: Current.group), class: "mx-2 h-10 w-10 stroke-current text-gray-400 hover:text-gray-900 flex items-center justify-center rounded-full" do %>
      <%= render "icons/profile", classes: "h-7 w-7" %>
    <% end %>
  </div>
<% end %>
