<div class="bg-primary-600 flex justify-between items-center p-5 px-4 sm:px-6">
  <%= link_to root_path, class: "flex items-center" do %>
    <%= image_tag asset_url('logo.svg'), class: 'w-6 mr-2' %>
    <h4 class="tracking-tight text-white font-semibold hidden sm:block">Akademy project</h4>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "text-white text-sm bg-black bg-opacity-20 hover:bg-opacity-30 p-2 rounded-md px-4 font-medium" %>
  <% else %>
    <div>
      <%= link_to "Login", new_user_session_path, class: "text-white text-sm bg-black bg-opacity-20 hover:bg-opacity-30 p-2 rounded-md px-4 font-medium" %>
      <%= link_to "Signup", new_user_registration_path, class: "text-primary-700 text-sm bg-white p-2 rounded-md px-4 font-medium ml-2" %>
    </div>
  <% end %>
</div>

