<% editable ||= false %>

<% if editable %>
  <div class="mb-4 relative" data-sortable-target="item" data-section-id="<%= section.id %>" data-update-url="<%= section_path(section) %>">
    <%= render "sections/dropzone", position: section.position %>
<% else %>
  <div class="mb-4">
<% end %>

  <% case section.element_type %>
  <% when "PageReference" %>
    <%= render :partial => "page_references/section", :locals => {page_references: section.elements, section: section, editable: editable} %>
  <% else %>
    <div class="p-4 rounded-lg bg-gray-200">
      <h4 class="tracking-tight">No contents for this section</h4>
      <p class="text-xs opacity-50">Section type: <%= section.element_type %></p>
    </div>
  <% end %>
</div>
