<% subtitle ||= nil %>

<div class="hidden" data-lightbox-target="content">
  <div class="w-screen h-screen flex items-center flex-col">
    <div class="flex-shrink-0 p-4 w-full border-b border-gray-700 flex items-center justify-between">
      <div class="text-white">
        <h4 class="leading-none mb-1"><%= title %></h4>
        <% if subtitle %>
          <h6 class="text-xs opacity-50"><%= subtitle %></h6>
        <% end %>
      </div>
      <div>
        <%= link_to '#', data: { lightbox_target: 'close' }, class: 'w-8 h-8 rounded-full flex items-center justify-center hover:bg-white hover:bg-opacity-20 cursor-pointer' do %>
          <%= render 'icons/close', classes: 'h-3.5 w-3.5 stroke-2 stroke-current text-white' %>
        <% end %>
      </div>
    </div>
    <div class="h-full w-full flex-grow w-full">
      <%= yield %>
    </div>
  </div>
</div>
