<%= simple_form_for [section, image] do |f| %>
  <%= f.label :picture, label: 'Image' %>
  <%= f.file_field :picture,
          direct_upload: true,
          required: true,
          accept:"image/png, image/jpeg, image/gif",
          data: { controller: 'uploader' } %>
  <%= f.input :title %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
