<%= simple_form_for(page) do |f| %>
  <%= f.label :cover, label: 'Cover images' %>
  <%= render 'components/forms/image_upload', attachment: page.cover do %>
    <%= f.file_field :cover,
          direct_upload: true,
          required: true,
          accept:"image/png, image/jpeg, image/gif",
          data: { controller: 'uploader', uploader_aspect_value: 16.fdiv(9) } %>
  <% end %>
  <%= f.input :title %>
  <%= f.input :subtitle %>
  <%= f.input :tag_list, label: 'Tags', input_html: { value:  page.tags.map{|tag| tag.name}.join(','), data: { controller: "multi-select" } } %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
