<%= render "shared/container", classes: "p-4" do %>
  <% if policy(page).update? %>
    <div class="w-full rounded-lg bg-primary-100 p-4 sm:flex items-center justify-between mb-4">
      <div class="mb-4 sm:mb-0">
        <h4 class="tracking-tight">Would you like to edit this page?</h4>
        <p class="text-xs opacity-50">Only admins and editors can see this message</p>
      </div>
      <%= link_to edit_page_path(page), class: 'button w-full sm:w-auto' do %>
        <%= render "icons/edit", classes: "mr-2" %>
        Edit page
      <% end %>
    </div>
  <% end %>
  <%= render('components/images/banner', image_path: cl_image_path(page.covers.first.key)) if page.covers.any? %>
  <%= render('components/images/banner', no_shadow: true) unless page.covers.any? %>
<% end %>
