<%= render "components/headers/header", header: "Edit content", subheader: @page.title, back_link: @page do %>
  <%= render "components/saving", ids:"edit-section-saving-badge" %>
<% end %>
<%# render "pages/page_content", page: @page, edit_message: true %>

<div data-controller="section-sortable drag-drop-editor" data-section-sortable-target="scrollContainer" data-drag-drop-editor-target="scrollContainer" data-drag-drop-editor-url-value="<%= page_sections_url(@page) %>" style="height: calc(100vh - 3.5rem)" class="overflow-scroll">
  <div>
    <%= render "shared/container", classes: "p-4" do %>
      <% unless @page.course %>
        <div class="w-full rounded-lg bg-primary-100 p-4 mb-4 sm:flex items-center justify-between mb-4">
          <div class="mb-4 sm:mb-0">
            <h4 class="tracking-tight">Would you like to edit the details?</h4>
            <p class="text-xs opacity-50">Edit title, subtitle and cover image</p>
          </div>
          <%= link_to edit_page_path(@page), class: 'button w-full sm:w-auto' do %>
            <%= render "icons/edit", classes: "mr-2" %>
            Edit details
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="pb-24">
    <%= render "shared/container", classes: "p-4" do %>
      <div data-section-sortable-target="container">
        <% @page.sections.each do |section| %>
          <%= render 'sections/section', section: section, editable: true %>
        <% end %>
        <div class="mb-4 py-2 relative">
          <%= render "sections/dropzone", position: @page.sections.count + 1 %>
        </div>
      </div>
    <% end %>

    <div class="fixed w-screen bg-contrast-100 bottom-0 left-0 pb-3 px-0 z-50">
      <div class="inline-flex items-center justify-center p-1 px-3 bg-contrast-200 w-full mb-1">
        <%= render "icons/drag", classes: "stroke-current text-contrast-800 h-3.5 w-3.5 mr-2" %>
        <h4 class="text-contrast-800 text-sm">Drag & drop elements below:</h4>
      </div>
      <div data-drag-drop-editor-target="dropzone" class="w-full flex items-center justify-center overflow-scroll">
        <%= render 'sections/drag_element', section_type: :page_reference, title: "Pages", icon: 'library' %>
        <%= render 'sections/drag_element', section_type: :text, title: "Text", icon: 'paragraph' %>
        <%= render 'sections/drag_element', section_type: :image, title: "Image(s)", icon: 'image' %>
      </div>
      </div>
    </div>
  </div>
</div>
