<% content_for :header_left do %>
  <%= link_to @page, class: 'button button-sm', data: {turbo: false} do %>
    <%= render 'icons/check', classes: "mr-2 h-3.5 w-3.5" %>
    Done
  <% end %>
<% end %>

<%= render "components/headers/header", header: "Edit content", subheader: @page.title, hide_back_link: true do %>
  <%= render "components/saving", ids:"edit-section-saving-badge" %>
<% end %>
<% html_loader = ActionController::Base.new.render_to_string(partial: 'components/loaders/drag_drop_loader') %>
<div  data-controller="section-sortable drag-drop-editor"
      data-section-sortable-target="scrollContainer"
      data-drag-drop-editor-target="scrollContainer"
      data-drag-drop-editor-url-value="<%= page_sections_path(@page) %>"
      data-drag-drop-editor-loader-value='<%= html_loader %>'
      style="height: calc(100vh - 3.5rem)"
      class="overflow-y-scroll">
  <div class="pb-24 overflow-x-hidden">
    <%= render "shared/container", classes: "p-4" do %>
      <div data-section-sortable-target="container" class="dropzones">
        <% @page.sections.each_with_index do |section, index| %>
          <%= render 'sections/section', section: section, editable: true, index: @page.sections.length - index %>
        <% end %>
        <div class="mb-4 py-2 relative last-dropzone">
          <%= render "sections/dropzone", position: @page.sections.count + 1 %>
        </div>
      </div>
    <% end %>

    <div class="drag-and-drop-options fixed w-screen bg-contrast-100 bottom-0 left-0 px-0 z-50" style="z-index: 1000!important;">
      <div class="inline-flex items-center justify-center p-1 px-3 bg-contrast-200 w-full mb-1">
        <%= render "icons/drag", classes: "stroke-current text-contrast-800 h-3.5 w-3.5 mr-2" %>
        <h4 class="text-contrast-800 text-sm">Drag & drop elements below:</h4>
      </div>
      <div data-controller="scroll-handle" class="pb-3">
        <div  data-drag-drop-editor-target="dropzone" class="w-full flex items-center sm:justify-center">
          <%= render 'sections/drag_element', section_type: :page_reference, title: "Pages", icon: 'library' %>
          <%= render 'sections/drag_element', section_type: :text, title: "Text", icon: 'paragraph' %>
          <%= render 'sections/drag_element', section_type: :image, title: "Image(s)", icon: 'image' %>
          <%= render 'sections/drag_element', section_type: :video, title: "Video", icon: 'video' %>
          <%= render 'sections/drag_element', section_type: :audio, title: "Audio", icon: 'audio' %>
          <%= render 'sections/drag_element', section_type: :pdf, title: "Pdf", icon: 'pdf' %>
          <%= render 'sections/drag_element', section_type: :link, title: "Links", icon: 'zap' %>
        </div>
      </div>
    </div>
  </div>
</div>
