<%= render "components/headers/header", header: 'Header', subheader: "Subheader" %>
<%= render "shared/container", classes: "p-4" do %>
  <!-- large cards -->
  <div class="mb-4">
    <%= render "components/headers/section_header", title: "Content", icon:"content" %>
    <% Content.first(3).each do |content| %>
      <div class="pb-2">
        <%= render "contents/card", content: content %>
      </div>
    <% end %>
  </div>

  <!-- small cards -->
  <div class="mb-4">
    <%= render "components/headers/section_header", title: "Content", icon:"content" %>
    <div class="flex flex-wrap -mx-2">
      <% Content.first(3).each do |content| %>
        <div class="p-2 w-1/2">
          <%= render "contents/card", content: content %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- quick links -->
  <div class="mb-4">
    <%= render "components/headers/section_header", title: "Quick links", icon:"zap" %>
    <% 3.times do %>
      <div class="pb-2">
        <%= render "components/quick_link" %>
      </div>
    <% end %>
  </div>
<% end %>
