<%= render "components/headers/header", header: 'Header', subheader: "Subheader" %>
<%= render "shared/container", classes: "p-4" do %>
  <!-- large cards -->
  <% Content.first(3).each do |content| %>
    <div class="pb-2">
      <%= render "contents/card", content: content %>
    </div>
  <% end %>

  <!-- small cards -->
  <div class="flex flex-wrap -mx-2">
    <% Content.first(3).each do |content| %>
      <div class="p-2 w-1/2">
        <%= render "contents/card", content: content %>
      </div>
    <% end %>
  </div>

  <!-- quick links -->
  <% 3.times do %>
    <div class="pb-2">
      <%= render "components/quick_link" %>
    </div>
  <% end %>
<% end %>
