<% path = link.new_record? ? [link.linkable, link] : link %>

<%= simple_form_for(path) do |f| %>
  <%= f.input :url, input_html: { type: 'url' }, placeholder: "https://www.twitter.com", hint: "Must include 'https://' or 'http://'" %>
  <%= f.input :title, placeholder: "Explain your link" %>
  <%= f.input :subtitle, placeholder: "Explain your link in more detail" %>
  <div class="form-actions">
    <%= f.submit class: 'w-full' %>
  </div>
<% end %>
