<% editable ||= false %>

<% if editable %>
  <div class="w-full relative">
    <div class="w-full shadow-sm rounded-lg p-2 pr-12 flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block">
      <div class="flex items-center">
        <% if link.cover.attached? %>
          <div class="rounded h-12 w-12 overflow-hidden mr-2 flex-shrink-0 bg-gray-200" style="background-size: cover; background-image: url(<%= cl_image_path(link.cover.key, height: 200, width: 200, crop:  :fill) %>)"></div>
        <% end %>
        <div class="m-2 line-clamp-2">
          <h4 class="leading-tight"><%= link.title %></h4>
          <% if link.subtitle.present? %>
            <h6 class="text-xs text-gray-400"><%= link.subtitle %></h6>
          <% end %>
        </div>
      </div>
    </div>

    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn", direction: "right" do %>
        <%= link_to "Go to link", "#{link.url}", class: "dropdown-link", target: :_blank %>
        <%= link_to "Update link", edit_link_path(link), class: "dropdown-link" %>
        <%= link_to 'Delete link', link, method: :delete, class: "dropdown-link-danger" %>
      <% end %>
    </div>
  </div>
<% else %>
  <div data-controller="lightbox" class="w-full">
    <%= link_to "#{link.url}", data: { action: "lightbox#open" }, class: "group shadow-sm w-full rounded-lg p-2 flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block" do %>
      <div class="flex items-center">
        <% if link.cover.attached? %>
          <div class="rounded h-12 w-12 overflow-hidden mr-2 flex-shrink-0" style="background-size: cover; background-image: url(<%= cl_image_path(link.cover.key) %>)"></div>
        <% end %>
        <div class="m-2 line-clamp-2">
          <h4 class="leading-tight"><%= link.title %></h4>
          <% if link.subtitle.present? %>
            <h6 class="text-xs text-gray-400"><%= link.subtitle %></h6>
          <% end %>
        </div>
      </div>
      <div class="h-8 w-8 rounded-full bg-black flex items-center justify-center flex-shrink-0 mx-2 group-hover:scale-105 transform transition-transform duration-300">
        <%= render 'icons/arrow_right', classes: "stroke-current text-white" %>
      </div>
    <% end %>
    <%= render "components/lightbox/modal_container", title: link.title, subtitle: link.url do %>
      <%= link_to link.url, target: :_blank, class: 'faded-link -ml-4' do %>
        <%= render 'icons/web', classes: 'w-4 h-4' %>
        Go to site
      <% end %>
      <div
        data-controller="clipboard"
        data-clipboard-success-content="Copied!"
      >
        <input
          class="hidden"
          type="text"
          value="<%= link.url %>"
          data-clipboard-target="source"
        />

        <%= link_to link.url, class: 'faded-link -ml-4', data: { clipboard_target: "button", action: "clipboard#copy" } do %>
          <%= render 'icons/link', classes: 'w-4 h-4' %>
          <span data-clipboard-target="buttonText">Copy link</span>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
