<% editable ||= false %>

<% if editable %>
  <div class="w-full relative">
    <div class="w-full rounded-lg p-4 pr-12 flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block">
      <div>
        <h4 class="leading-tight"><%= link.title %></h4>
        <% if link.subtitle.present? %>
          <h6 class="text-xs text-gray-400"><%= link.subtitle %></h6>
        <% end %>
      </div>
    </div>

    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn faded", direction: "right" do %>
        <%= link_to "Go to link", "#{link.url}", class: "dropdown-link", target: :_blank %>
        <%= link_to "Update link", edit_link_path(link), class: "dropdown-link" %>
        <%= link_to 'Delete link', link, method: :delete, class: "dropdown-link-danger" %>
      <% end %>
    </div>
  </div>
<% else %>
<div data-controller="modal" class="w-full">
  <%= link_to "#{link.url}", target: :_blank, data: { action: "click->modal#open" }, class: "w-full rounded-lg p-4 flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block" do %>
    <div>
      <h4 class="leading-tight"><%= link.title %></h4>
      <% if link.subtitle.present? %>
        <h6 class="text-xs text-gray-400"><%= link.subtitle %></h6>
      <% end %>
    </div>
    <div class="h-8 w-8 rounded-full bg-black flex items-center justify-center flex-shrink-0 ml-2">
      <%= render 'icons/arrow_right', classes: "stroke-current text-white" %>
    </div>
  <% end %>
  <%= render "components/modals/modal_container", header: link.title, subheader: link.url %>
</div>
<% end %>
