<% editable ||= false %>

<div class="w-full relative">
  <div data-controller="lightbox" data-lightbox-target="gallery">
    <%= link_to pdf.file.url, data:{ src: pdf.file.url, download_url: false, lightbox_target: 'item', iframe: true }, class: "#{pdf.file.attached? ? 'dropdown-link' : 'dropdown-link-disabled'} gallery-item p-2 w-full rounded-lg flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block" do %>
      <%= render 'pdfs/pdf_info', pdf: pdf %>
    <% end %>
  </div>
  <% if pdf.file.attached? %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <% if editable %>
        <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn faded", direction: "right" do %>
          <%= link_to 'Download', cl_image_path(pdf.file.key, flags: :attachment), data: { controller: "download", action: 'download#download', download_name_value: pdf.title }, download: true, class: "dropdown-link" %>
          <%= link_to "Update", edit_pdf_path(pdf), class: "dropdown-link" %>
          <%= link_to 'Delete', pdf, method: :delete, class: "dropdown-link-danger" %>
        <% end %>
      <% else %>
        <%= link_to cl_image_path(pdf.file.key, flags: :attachment), data: { controller: "download", action: 'download#download', download_name_value: pdf.title }, download: true, class: "icon-btn faded" do %>
          <%= render 'icons/download_circle' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
