<% editable ||= false %>

<div class="w-full relative">
  <div data-controller="lightbox">
    <%= link_to cl_image_path(pdf.file.key), data:{ action: "lightbox#open" }, class: "#{pdf.file.attached? ? 'dropdown-link' : 'dropdown-link-disabled'} shadow-sm p-2 w-full rounded-lg flex items-center justify-between border border-gray-200 hover:border-gray-300 bg-white inline-block" do %>
      <%= render 'pdfs/pdf_info', pdf: pdf %>
    <% end %>
    <%= render 'components/lightbox/container', title: pdf.title, subtitle: pdf.created_at.strftime("%A %B %d, %Y") do %>
      <iframe src="<%= cl_image_path(pdf.file.key) %>" width="100%" height="100%"></iframe>
    <% end %>
  </div>

  <% if pdf.file.attached? %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <% if editable %>
        <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn faded", direction: "right" do %>
          <%= link_to "Update", edit_pdf_path(pdf), class: "dropdown-link" %>
          <%= link_to 'Delete', pdf, method: :delete, class: "dropdown-link-danger" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
