<% path = course.new_record? ? [course.group, course] : course %>

<%= simple_form_for(path) do |f| %>
  <%= f.label :cover, required: true %>
  <%= f.file_field :cover,
          direct_upload: true,
          required: true,
          accept:"image/png, image/jpeg, image/gif",
          data: { controller: 'uploader' } %>
  <%= f.input :title %>
  <div class="form-actions">
    <%= f.submit class: "w-full" %>
  </div>
<% end %>
