<% course_member ||= nil %>
<% group_member = course_member.group_member if course_member %>

<div class="group w-full relative mb-2 hover:bg-black hover:bg-opacity-5 rounded-lg">
  <%= link_to course do %>
    <div class="w-full flex items-center justify-between p-1">
      <div class="w-full flex items-center justify-between">
        <div class="flex items-center">
          <!-- avatar -->
          <%= render "courses/avatar", course: course %>
          <div class="ml-2">
            <h4><%= course.title %></h4>
            <p class="text-xs text-gray-400"><%= course.course_members.count %> members</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if course_member && (policy(group_member).admin_or_editor? || policy(group_member).belongs_to_user?) %>
    <div class="group-hover:opacity-100 opacity-100 md:opacity-0 absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render 'components/dropdowns/options_dropdown', button_classes: 'icon-btn faded' do %>
        <% if policy(group_member).belongs_to_user? %>
          <%= link_to "Leave course",
                      course_member_path(course_member),
                      method: :delete,
                      data: {confirm: "Are you sure you'd like to leave this course"},
                      class: "dropdown-link-danger" %>
        <% else %>
          <%= link_to"Remove from course",
                      course_member_path(course_member),
                      method: :delete,
                      data: {confirm: "Are you sure you'd like to remove #{group_member.user.full_name_or_email} from this course"},
                      class: "dropdown-link-danger" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
