<%= render "components/headers/header", back_link: @course, header: @course.title, subheader: "Course settings" %>

<%= render "shared/container", classes: "p-4" do %>
  <% if policy(@course).update? %>
    <div class="mb-4">
      <%= render "components/headers/section_header", title: "Edit", icon:"edit" %>
      <%= render "components/quick_link", url: edit_course_path(@course), title: "Edit details", subtitle: "Name & cover photo etc." %>
    </div>
  <% end %>

  <% if policy(@course).destroy? %>
    <div class="mb-4">
      <%= render "components/headers/section_header", title: "Delete", icon:"bin" %>
      <%= link_to @course, method: :delete, data: {confirm: 'Are you sure? This action cannot be undone'}, class: "button button-destroy w-full" do %>
        Delete this course
      <% end %>
      <p class="text-center mt-1 text-gray-400 text-xs"><span class="text-red-500">Be aware:</span> This will delete the course and all it's content</p>
    </div>
  <% end %>
<% end %>
