<% button_classes ||= "icon-btn" %>
<% direction ||= "right" %>
<% tippy_placement = direction == "left" ? "bottom-start" : "bottom-end" %>

<%= render 'components/dropdowns/dropdown', tippy_placement: tippy_placement do %>
  <button type="button" class="<%= button_classes %>" data-dropdown-target="toggle">
    <%= render 'icons/options', classes: "h-5 w-5" %>
  </button>

  <%= render 'components/dropdowns/dropdown_options_container', direction: direction do %>
    <%= yield %>
  <% end %>
<% end %>
