<% editable ||= false %>
<% page = page_reference.page %>
<% image_path = page.cover.attached? ? cl_image_path(page.cover.key) : asset_path('default_cover.svg') %>
<% background_style = page.cover.attached? ? "background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7)), url(#{image_path})" : "background-image: url(#{image_path})" %>

<div class="w-full relative">
  <%= link_to page, class: "w-full" do %>
    <div class="w-full rounded-2xl h-40 flex items-end bg-center bg-cover" style="<%= background_style %>">
      <div class="flex <%= page.subtitle ? "items-end" : "items-center" %> justify-between w-full p-4">
        <div>
          <h4 class="text-white leading-tight tracking-tight mb-1"><%= page.title %></h4>
          <% if page.subtitle %>
            <p class="text-white leading-tight text-xs opacity-70"><%= page.subtitle %></p>
          <% end %>
        </div>
        <div class="h-8 w-8 rounded-full bg-white shadow flex items-center justify-center flex-shrink-0 ml-1 transform transition-transform duration-300 ease-in-out hover:scale-110 cursor-pointer">
          <%= render 'icons/arrow_right' %>
        </div>
      </div>
    </div>
  <% end %>
  <% if editable %>
    <div class="absolute top-4 left-4">
      <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn white", direction: "left" do %>
        <%= link_to "Edit content", edit_sections_page_path(page), class: "dropdown-link" %>
        <%= link_to "Settings", settings_page_path(page), class: "dropdown-link" %>
        <%= link_to("Delete page", page_path(page), method: :delete, data: {confirm: "Are you sure you'd like to delete this page?"}, class: "dropdown-link-danger") %>
      <% end %>
    </div>
  <% end %>
</div>
