<%= simple_form_for [group, invite] do |f| %>
  <%= f.input :email, autofocus: true, required: true, placeholder: example_email %>
  <%= f.simple_fields_for :sub_invites_attributes do |p| %>
    <% if @course %>
      <%= f.input :invitable, label: 'Add to courses', selected: @course.id, include_hidden: false, required: false, collection: group.courses, input_html: { multiple: true, data: { controller: "multi-select" } } %>
    <% else %>
      <%= f.input :invitable, label: 'Add to courses', include_hidden: false, required: false, collection: group.courses, input_html: { multiple: true, data: { controller: "multi-select" } } %>
    <% end %>
  <% end %>

  <div class="form-actions mb-4">
    <%= f.button :submit, "Send invite", class: "w-full" %>
  </div>
  <p class="text-xs text-center text-gray-400 w-56 sm:w-auto mx-auto">New members will get an email that gives them access to this group</p>
<% end %>
