<div class="w-full relative mb-2 hover:bg-black hover:bg-opacity-5 rounded-lg">
  <div class="w-full flex items-center justify-between p-1">
    <div class="w-full flex items-center justify-between">
      <div class="flex items-center">
        <!-- avatar -->
        <% if invite.recipient %>
          <% group_member = invite.recipient.group_members.find_by(group: invite.invitable) %>
          <%= render "components/avatar", group_member: group_member %>
        <% else %>
          <%= render "components/avatar", group_member: GroupMember.new %>
        <% end %>
        <div class="ml-2">
          <% if invite.recipient %>
            <h4><%= invite.recipient.full_name_or_email %></h4>
          <% else %>
            <h4><%= invite.email %></h4>
          <% end %>
          <% status_classes = 'text-yellow-500' if invite.status == 'pending' %>
          <% status_classes = 'text-green-500' if invite.status == 'accepted' %>
          <% status_classes = 'text-red-500' if invite.status == 'declined' %>
          <p class="text-xs text-gray-400">
            Sent <%= time_ago_in_words(invite.created_at) %> ago
            <%= render 'components/middle_dot' %>
            <span class="<%= status_classes %>"><%= invite.status.capitalize %></span>
            <% if invite.recipient.blank? && invite.status == 'accepted' %>
              <%= render 'components/middle_dot' %>
              <span class="text-red-500 text-xs">Left group</span>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <% if invite.recipient || invite.status == 'pending' %>
    <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
      <%= render "components/dropdowns/options_dropdown", button_classes: "icon-btn", direction: "right" do %>
        <%= link_to("See profile",
                      group_member_path(@group.group_members.find_by(user: invite.recipient)),
                      class: "dropdown-link") if invite.recipient %>
        <%= link_to("Delete invitation",
                      invite_path(invite),
                      method: :delete,
                      data: {confirm: "Are you sure you'd like to delete invitation to #{invite.email}. This invite will no longer be valid."},
                      class: "dropdown-link-danger") if invite.status == 'pending' %>
      <% end %>
    </div>
  <% end %>
</div>
