<div class="w-full relative mb-2 hover:bg-black hover:bg-opacity-5 rounded-lg">
  <div class="w-full flex items-center justify-between p-1">
    <div class="w-full flex items-center justify-between">
      <div class="flex items-center">
        <!-- avatar -->
        <%= render "components/avatar", user: invite.recipient %>
        <div class="ml-2">
          <% if invite.recipient %>
            <h4><%= invite.recipient.full_name_or_email %></h4>
          <% else %>
            <h4><%= invite.email %></h4>
          <% end %>
          <% status_classes = 'text-yellow-500' if invite.status == 'pending' %>
          <% status_classes = 'text-green-500' if invite.status == 'accepted' %>
          <% status_classes = 'text-red-500' if invite.status == 'declined' %>
          <p class="text-xs text-gray-400">Sent <%= time_ago_in_words(invite.created_at) %> ago <%= render 'components/middle_dot' %> <span class="<%= status_classes %>"><%= invite.status.capitalize %></span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute top-1/2 right-1 transform -translate-y-1/2 mr-2">
    <div data-controller="dropdown" class="relative">
      <button type="button" class="icon-btn faded" data-action="dropdown#open click@window->dropdown#hide">
        <%= render 'icons/options', classes: "h-5 w-5" %>
      </button>

      <div
        data-dropdown-target="menu"
        class="transition transform origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none overflow-hidden"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
        <%= link_to("See profile",
                      group_member_path(@group.group_members.find_by(user: invite.recipient)),
                      class: "dropdown-link") if invite.recipient %>
        <%= link_to("Delete invitation",
                      invite_path(invite),
                      method: :delete,
                      data: {confirm: "Are you sure you'd like to delete invitation to #{invite.email}. This invite will no longer be valid."},
                      class: "dropdown-link-danger") if invite.status == 'pending' %>
      </div>
    </div>
  </div>
</div>
