<%= render "components/headers/header", header: "Invite a member", subheader: @group.name, back_link: group_group_members_path(@group) %>

<%= render "shared/container", classes: "p-4" do %>
  <%= simple_form_for [@group, @invite] do |f| %>
    <%= f.input :email, autofocus: true, required: true, placeholder: example_email %>

    <div class="form-actions mb-4">
      <%= f.button :submit, "Send invite", class: "w-full" %>
    </div>
    <p class="text-xs text-center text-gray-400 w-56 sm:w-auto mx-auto">New members will get an email that gives them access to this group</p>
  <% end %>
<% end %>
