<%= form.rich_text_area :content %>

<!-- <div id="trix-editor">
  <trix-toolbar id="my_toolbar"></trix-toolbar>
  <div class="more-stuff-inbetween"></div>
  <trix-editor toolbar="my_toolbar" input="my_input"></trix-editor>
</div>


<trix-toolbar id="text_toolbar_<%= form.object.id %>">
  <button type="button" data-format="bold">Bold</button>
</trix-toolbar>
<trix-editor input="text_input_<%= form.object.id %>" toolbar="text_toolbar_<%= form.object.id %>">
  <%= form.object.content %>
</trix-editor>
<input type="hidden" id="text_input_<%= form.object.id %>" /> -->
