<div id="trix-content">
  <trix-toolbar id="text_toolbar_<%= form.object.id %>" class="hidden" data-text-trix-target="toolbar">
    <button type="button" class="icon-btn" data-trix-attribute="heading1" title="Heading" tabindex="-1">
      <%= render "icons/trix/header_one", classes: "h-4 h-4" %>
    </button>
    <button type="button" class="icon-btn" data-trix-attribute="heading2" title="Subheading" tabindex="-1">
      <%= render "icons/trix/header_two", classes: "h-4 h-4" %>
    </button>
    <button type="button" class="icon-btn" data-trix-attribute="heading3" title="Subheading" tabindex="-1">
      <%= render "icons/trix/header_three", classes: "h-4 h-4" %>
    </button>
    <button type="button" class="icon-btn" data-trix-attribute="bold" data-trix-key="b" title="Bold" tabindex="-1">
      <%= render "icons/trix/bold", classes: "h-4 h-4" %>
    </button>
  </trix-toolbar>
  <trix-editor id="trix-content" toolbar="text_toolbar_<%= form.object.id %>" input="text_input_<%= form.object.id %>" data-text-trix-target="editor" data-value="<%= form.object.content.body ? form.object.content.body.to_html : '' %>" placeholder="Start writing here..."></trix-editor>

  <%= form.hidden_field :content, id: "text_input_#{form.object.id}" %>
</div>
