<% editable ||= false %>

<% if editable %>
  <div class="section" data-controller="text-trix" data-text-trix-url-value="<%= text_path(section.texts.first) %>.json">
    <div class="w-full relative z-10">
      <%= render "components/headers/section_header", title: "Text", icon:"paragraph" do %>
        <% if editable %>
          <div class="flex items-center">
            <% if policy(section.page).update? %>
              <div class="mr-2">
                <%= render "components/saving" %>
              </div>
              <%= render "components/dropdowns/options_dropdown" do %>
                <%= link_to("Delete section", section_path(section), method: :delete, data: {confirm: "Are you sure you'd like to remove this section?"}, class: "dropdown-link-danger") %>
              <% end %>
              <div class="handle icon-btn faded relative overflow-hidden">
                <%= render "icons/handle", classes: "handle h-4 w-4" %>
                <div class="handle absolute h-full w-full top-0 left-0"></div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div>
      <% section.texts.each do |text| %>
        <%= simple_form_for text do |f| %>
          <%= render 'texts/custom_trix_editor', form: f %>
        <% end %>
      <% end %>

      <% if section.texts.count == 0 %>
        <%= simple_form_for [section, section.texts.new] do |f| %>
          <%= render 'texts/custom_trix_editor', form: f %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="section">
    <div>
      <% section.texts.each do |text| %>
        <div id="trix-content" class="w-full mb-2">
          <%= text.content %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

