<% editable ||= false %>

<div class="section" data-controller="tabs" data-tabs-active-tab="bg-white text-gray-800 shadow-sm">
  <% if editable %>
    <div class="w-full relative z-10">
      <%= render "components/headers/section_header", title: "Images", icon:"image" do %>
        <div class="flex items-center">
          <% if policy(section.page).update? %>
            <div class="mr-2">
              <%= render "components/saving" %>
            </div>
            <%= render 'images/tabs' %>
            <%= render "components/dropdowns/options_dropdown", button_classes: 'icon-btn' do %>
              <%= link_to "Add image", new_section_image_path(section), class: 'dropdown-link' %>
              <%= link_to "Reorder images", section_section_elements_path(section), class: 'dropdown-link' %>
              <%= link_to("Delete section", section_path(section), method: :delete, data: {confirm: "Are you sure you'd like to remove this section?"}, class: "dropdown-link-danger") %>
            <% end %>
            <div class="handle icon-btn relative overflow-hidden">
              <%= render "icons/handle", classes: "pointer-events-none h-4 w-4" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="-mx-2 relative">
    <div class="<%= 'hidden' if editable %>" data-tabs-target="panel">
      <%= render 'images/carousel/carousel', images: images, section: section, editable: editable %>
    </div>
    <div class="<%= 'hidden' if editable %>" data-tabs-target="panel">
      <%= render 'images/carousel/carousel', images: images, section: section, editable: editable %>
    </div>
    <div class="<%= 'hidden' if editable %>" data-tabs-target="panel">
      <%= render 'images/slider_carousel/carousel', images: images, section: section, editable: editable %>
    </div>
  </div>
</div>
