<% editable ||= false %>

<div class="section">
  <% if editable %>
    <div class="w-full relative z-10">
      <%= render "components/headers/section_header", title: "Images", icon:"image" do %>
        <div class="flex items-center">
          <% if policy(section.page).update? %>
            <div class="mr-2">
              <%= render "components/saving" %>
            </div>
            <%= render "components/dropdowns/options_dropdown" do %>
              <%= link_to "Add image", new_section_image_path(section), class: 'dropdown-link' %>
              <%# link_to "Reorder pages", section_section_elements_path(section), class: 'dropdown-link' %>
              <%= link_to("Delete section", section_path(section), method: :delete, data: {confirm: "Are you sure you'd like to remove this section?"}, class: "dropdown-link-danger") %>
            <% end %>
            <div class="handle icon-btn faded relative overflow-hidden">
              <%= render "icons/handle", classes: "handle h-4 w-4" %>
              <div class="handle absolute h-full w-full top-0 left-0"></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="-mx-1 flex flex-wrap">
    <% images.each do |image| %>
      <div class="p-1 w-1/2">
        <%= render "images/image", image: image, editable: editable %>
      </div>
    <% end %>
    <% if editable %>
      <div class="show-when-only-child p-1 w-full">
        <div class="p-4 rounded-xl bg-white w-full border-dashed border flex flex-col items-center">
          <h4 class="tracking-tight text-center">Add a new image</h4>
          <p class="text-xs text-gray-400 mb-2 text-center">Images help to break up large sections of text and hold people's attention</p>
          <%= link_to new_section_image_path(section), class: 'button' do %>
            <%= render "icons/image", classes: "stroke-current text-white mr-2" %>
            Add an image
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
