<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <% if false %>
      <!-- ADD THESE TO INDIVIDUAL PAGES TO SET INDIVIDUAL META TAGS THAT ARE RELEVANT FOR SINGLE PAGES -->
      <%# content_for :meta_title, "Teaching kids play by Alice Kettle" %>
      <%# content_for :meta_description, "Alice is a world renowned researcher and practitioner of teaching kids and parents the importance of play in early childhood development" %>
      <%# content_for :meta_image, '<image_url>' %>
    <% end %>
  </head>

  <body class="bg-contrast-50" data-cookie-session="<%= cookies['_hubbbi_session'] %>" data-session-id="<%= session.id %>">
    <%= render 'shared/desktop_navbar' unless @hide_desktop_navbar %>

    <div class="body-content <%= 'pb-48' unless @no_body_padding %>">
      <%= yield %>
    </div>

    <%= render 'shared/mobile_navbar' unless @hide_navbar %>
    <%= render 'media_plays/media_player_container' %>
    <%= render 'shared/flashes/flashes' %>
    <%= render 'shared/load_screen' %> <!-- will disappear once tailwind is loaded -->

    <!-- typeform plugin -->
    <script src="//embed.typeform.com/next/embed.js"></script>
  </body>
</html>
