<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="bg-contrast-50">
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' unless @hide_navbar %>
    <div class="body-content">
      <%= yield %>
    </div>
    <%= render 'shared/load_screen' %> <!-- will disappear once tailwind is loaded -->
  </body>
</html>
